@import url(https://fonts.googleapis.com/css?family=Covered+By+Your+Grace);
@font-face {
    font-family: 'ZCOOL Happy';
    src: url('fonts/ZCOOLHappy.ttf') format('truetype');
}

header {
    height: 50vh;
    background-color: #66ccff;
}

.top-img-container {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.avatar-container-1 img,
.avatar-container-2 img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.avatar-container-1,
.avatar-container-2{
    text-align: center;

}

.avatar-container-1 p,
.avatar-container-2 p{
    font-size: 16px;
    color: #333;
    margin-top: 10px;
    font-family: 'ZCOOL Happy', sans-serif;
}

.avatar-container-1{
    position: absolute;
    left: calc(50% - 50px - 100px);
    transform: translateX(-50%);
}

.avatar-container-2{
    position: absolute;
    left: calc(50% + 50px + 100px);
    transform: translateX(-50%);
}

.heart-img{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
}

.wave{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 400px;
}
/*
.header-wave {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: url('svgs/wave.svg');
    background-size: 100% 100%;
    background-repeat: repeat-x;
    z-index: -1;
}*/


/* Timer Section */
#days {
    font-size: 130px;
    color: #db4844;
}
#hours {
    font-size: 100px;
    color: #f07c22;
}
#minutes {
    font-size: 60px;
    color: #f6da74;
}
#seconds {
    font-size: 30px;
    color: #abcd58;
}

.timer-container{
    text-align: center;
}

#timer div {
    display: inline-block;
    line-height: 1;
    padding: 10px;
    /*font-size: 40px;*/
    font-family: 'Covered By Your Grace', cursive;
    text-align: center;
}

#timer span {
    display: block;
    font-size: 25px;
    font-family: 'Covered By Your Grace', cursive;
    color: black;
    text-align: center;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* fallback for old browsers */
    background: #ebbba7;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
            to right,
            rgba(235, 187, 167, 1),
            rgba(207, 199, 248, 1)
    );

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
            to right,
            rgba(235, 187, 167, 1),
            rgba(207, 199, 248, 1)
    );

    margin: 0;
    padding-bottom: 100px;
}

/* Footer section */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Adjust according to footer height */

    background-color: #f8f9fa; /* Background color for the footer */
    padding: 20px 0; /* Padding top and bottom */
    text-align: center; /* Align text to the center */
}

.footer-content {
    max-width: 1200px; /* Maximum width for the content */
    margin: 0 auto; /* Center the content horizontally */
}

.footer p {
    margin-bottom: 10px; /* Add some space below the paragraph */
}

.social-icons {
    font-size: 24px; /* Size of the social media icons */
}

.social-icon {
    display: inline-block; /* Display icons inline */
    margin: 0 10px; /* Add some space between icons */
    color: #333; /* Color of the icons */
}

.social-icon:hover {
    color: #007bff; /* Change color on hover */
}
